header{
    

    background-color: #ffffff;
    color:  #1f2937;
    padding: 1px;
    text-align: center;
    border-radius: 15px;
}

.pregunta{
 background-color: #ffffff;
    color:  #1f2937;

    }
    .preguntas-1:hover{
   color          :  #01fd49;
    margin: auto;
    padding: auto;
    
    }

    .botones{

  text-align: center;


  background-color: #003278;
  color: #ffffff;
 
 border-radius: 99px ;
  padding: 0.75rem 1.5rem;
  box-shadow: 0 8px 20px rgba(30, 144, 255, 0.25);

  transition: all 0.3s ease ;
}

.botones:hover {
  transform: translateY(-2px);
  box-shadow: 0px 12px 24px rgba(128, 30, 255, 0.32);
}

.botones:active {
  transform: translateY(0);
  box-shadow: 0 6px 100px rgba(102, 6, 212, 0.22);
} 
    

   

p {
 margin: 16px;
 padding: auto;
  }
  input{
    margin: 5px;
    padding: 1px;
    }
    form{
      background-color: #003278;
      color: #ffffff;
      margin: auto;
      padding: auto;
   border-radius: 15PX ;
   text-align: center;
   box-decoration-break: clone;
   box-shadow: 0 8px 20px rgba(105, 1, 1, 0.975);
    }